.container.tanks-stat.mirror
  .row
    .col-xs-12
      %h1 Мир танков
  .row
    .col-xs-12
      .btn-toolbar{"aria-label" => "...", :role => "toolbar"}
        .btn-group{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} 
            .flag.ussr
            .text
              СССР
          %button.btn.btn-default{:type => "button"} 
            .flag.germany
            .text
              ГЕР
          %button.btn.btn-default{:type => "button"} 
            .flag.us
            .text
              США
          %button.btn.btn-default{:type => "button"} 
            .flag.uk
            .text
              БРИТ

        .btn-group{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} Легкие
          %button.btn.btn-default{:type => "button"} Средние
          %button.btn.btn-default{:type => "button"} Тяжелые
          %button.btn.btn-default{:type => "button"} ПТ-САУ

        .btn-group.pull-right{"aria-label" => "...", :role => "group"} 
          -[*1..10].each do |i|
            %button.btn.btn-default{:type => "button"}
              = RomanNumerals.to_roman(i)
              = " Уровень" if i == 10

  .row.vertical-space
    .col-xs-6
      .btn-group{"aria-label" => "...", :role => "group"}
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Макс. урон, у.е.
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Dropdown link
            %li
              %a{:href => "#"} Dropdown link

      .btn-group{"aria-label" => "...", :role => "group"}
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Зоны пробоя на танках
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Танки
            %li
              %a{:href => "#"} Зоны пробоя схематично
            %li
              %a{:href => "#"} Зоны пробоя схематично на танках
            %li
              %a{:href => "#"} Точки

    .col-xs-6
      .pull-right
        .armor-legend
          .title
            Броня, у.е.
          .step
            0
          .step
            37
          .step
            75
          .step
            112
          .step
            150
          .step
            188
          .step
            225
          .step
            262
          .step
            300
  .row.vertical-space
    .col-xs-12
      .chart

  .row.vertical-space.pull-right
    .col-xs-12
      .btn-group{"aria-label" => "По Х", :role => "group"}
        .btn-group.dropup{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Скорость, км./ч.
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Dropdown link
            %li
              %a{:href => "#"} Dropdown link    
  .row.vertical-space
    .col-xs-12.center
      %p.text-center
        &copy;
        =link_to 'Yury Egorenkov', 'mailto:yury.egorenkov@gmail.com'
        \- Montenegro 2015







