.container
  .row
    .col-xs-12
      %h1 Мир танков
  .row
    .col-xs-12
      .btn-toolbar{"aria-label" => "...", :role => "toolbar"}
        .btn-group{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} СССР
          %button.btn.btn-default{:type => "button"} ГЕР
          %button.btn.btn-default{:type => "button"} США
          %button.btn.btn-default{:type => "button"} БРИТ

        .btn-group{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button"} Легкие
          %button.btn.btn-default{:type => "button"} Средние
          %button.btn.btn-default{:type => "button"} Тяжелые
          %button.btn.btn-default{:type => "button"} ПТ-САУ

        .btn-group{"aria-label" => "...", :role => "group"} 
          -[*1..10].each do |i|
            %button.btn.btn-default{:type => "button"}
              = RomanNumerals.to_roman(i)
              = " Уровень" if i == 10

  .row
    .col-xs-6
      .dropdown
        %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
          Макс. урон, у.е.
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
    .col-xs-6

