.container.tanks-stat.mirror
  .row
    .col-xs-12
      %h1 Мир танков
  .row
    .col-xs-12.filters
      .btn-toolbar{"aria-label" => "...", :role => "toolbar"}
        .btn-group.countries{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default.active{:type => "button", key: 'country', value: 'Ru'} 
            .flag.ussr
            .text
              СССР
          %button.btn.btn-default{:type => "button", key: 'country', value: 'Ge'} 
            .flag.germany
            .text
              ГЕР
          %button.btn.btn-default{:type => "button", key: 'country', value: 'Am'} 
            .flag.us
            .text
              США
          %button.btn.btn-default{:type => "button", key: 'country', value: 'Uk'}
            .flag.uk
            .text
              БРИТ

        .btn-group.tank-types{"aria-label" => "...", :role => "group"}
          %button.btn.btn-default{:type => "button", key: 'tank_type', value: 'light'} Легкие
          %button.btn.btn-default.active{:type => "button", key: 'tank_type', value: 'middle'} Средние
          %button.btn.btn-default{:type => "button", key: 'tank_type', value: 'heavy'} Тяжелые
          %button.btn.btn-default{:type => "button", key: 'tank_type', value: 'anti'} ПТ-САУ

        .btn-group.pull-right.levels{"aria-label" => "...", :role => "group"} 
          -[*1..10].each do |i|
            %button.btn.btn-default.active{:type => "button", key: 'level', value: i}
              = RomanNumerals.to_roman(i)
              = " Уровень" if i == 10

  .row.vertical-space
    .col-xs-6
      .btn-group{"aria-label" => "X", :role => "group"}
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", :axis => "y"}
            Макс. урон за 10 сек
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Макс. урон за 10 сек
            %li
              %a{:href => "#"} Прочность
            %li
              %a{:href => "#"} Скорость
            %li
              %a{:href => "#"} Урон КС/БП
            %li
              %a{:href => "#"} Урон базовый

    .col-xs-6
      .pull-right
        .armor-legend
          .title
            Броня, у.е.
          .step
            0
          .step
            37
          .step
            75
          .step
            112
          .step
            150
          .step
            188
          .step
            225
          .step
            262
          .step
            300
  .row.vertical-space
    .col-xs-12
      .chart
  .row.vertical-space.pull-right
    .col-xs-12
      .btn-group{"aria-label" => "Y", :role => "group"}
        .btn-group.dropup{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button", :axis => "x"}
            Скорость, км./ч.
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Макс. урон за 10 сек         
            %li
              %a{:href => "#"} Прочность
            %li
              %a{:href => "#"} Скорость
            %li
              %a{:href => "#"} Урон КС/БП
            %li
              %a{:href => "#"} Урон базовый 

  .row.vertical-space
    .col-xs-12
      .description
        .row
          .col-xs-12
            .title
              .name
              .flag
              .tank_type
        .row
          .col-xs-6
            .group{ key: 'Скорость' }
              .field
                Скорость, км/ч
              .value  
                0
            .group{ key: 'Макс. урон за 10 сек'}
              .field
                Макс. урон за 10 сек
              .value 
                0
            .group{ key: 'Прочность'}
              .field
                Прочность у.е.
              .value 
                0
            .armor
              Броня у.е.
            - ['Лоб', 'Борт', 'Корма', 'Лоб-башни', 'Борт-башни', 'Корма-башни'].each do |item|
              .group{ key: item }
                .field
                  = item
                .value 
                  0            
          .col-xs-6
            .image_original
              
            .image_with_zones
        .row
          .col-xs-4
            Боевые характеристики
          .col-xs-4
            с базовыми патронами
          .col-xs-4
            с бронеб. патронами
        %hr
        .row
          .col-xs-4
            Бронебойность
          .col-xs-4
            .group{ key: 'Бронепр-ть базовая' }
              .value
                0
          .col-xs-4
            .group{ key: 'Урон базовый' }
              .value
                0
        .row
          .col-xs-4
            Урон
          .col-xs-4
            .group{ key: 'Бронепр-ть КС/БП' }
              .value
                0
          .col-xs-4
            .group{ key: 'Урон КС/БП' }
              .value
                0

  .row.vertical-space
    .col-xs-12.center
      %p.text-center
        &copy;
        =link_to 'Yury Egorenkov', 'mailto:yury.egorenkov@gmail.com'
        \- Montenegro 2015







