.tank
  = image_tag 'tanks/T-34-85.png'
  .mask
    = inline_svg 'tanks/T-34-85.svg'

/ $('#Лоб').css({ fill: "#87003B" });
/ $('#Борт').css({ fill: "#FF8100" });
/ $('#Лоб-башни').css({ fill: "#87EA00" });
/ $('#Борт-башни').css({ fill: "#027FA2" });
/ $('#Корма-башни').css({ fill: "#EE0068" });
/ $('#Корма').css({ fill: "#9FF529" });
